@model NavbarBasketViewModel

<ul class="navbar-nav">
    <li class="nav-item">
        <a href="" class="btn btn-dark">
            <i class="fas fa-shopping-cart">
                <span id="navbarBasketItemsCount" class="badge badge-light ml-1">@Model.ItemsCount</span>
            </i>
        </a>
    </li>
</ul>